.btn-slide {
  width: fit-content;
}

.btn-slide.w-full {
  width: 100%;
}

.btn-slide button {
  font-family: var(--font-sans);
  font-size: 16px;
  padding: 12px 24px;
  position: relative;
  border: 1px solid;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  font-weight: 500;
}

.texts-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 1.25em;
  overflow: hidden;
  z-index: 1;
}

.bg-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
